body {
  color: #888;
  background: #262626;
  margin: 0;
  padding: 40px;
  text-align: center;
  font-family: "helvetica Neue", Helvetica, Arial, sans-serif;
}

#canvas {
  width: 150px;
  height: 300px;
  position: absolute;
  top: 150px;
  left: 45%;
  text-align: center;
}

#strobo {
    display: none ;
    height: 1000px;
    width: 1000px;
    background: white;
    position: absolute;
    z-index: -1
}
